TWITTER_API_KEY=fl2wpx6qMFEG7eEU11gxIxpd0
TWITTER_API_SECRET_KEY=9wnza9F3aOXVoiQEdYgHJCaUyHty8p2Llv8flXTCw4QgEPX3uU
TWITTER_ACCESS_TOKEN=142598120-FbTFyltmJA97HBsyjIztOELFp4eu0c5JfMmweFRL
TWITTER_ACCESS_TOKEN_SECRET=wwxIV7TDLu8n0ffJzSpHwqF5OSQVfwG4n6Bo7NZ9BT7nH

FLASK_DEBUG=1
FLASK_APP=./app.py